body {
    background-color: darkgray;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    list-style: none;
}

.container-info--candidate {
    background-color: darkred;
    border-radius: 10px;
    height: auto;
    width: 40%;
    text-align: center;
    display: blcok;
    margin: auto;
    color: white;
}

.committees--header {
    background-color: navy;
    border-radius: 10px;
    width: 15%;
    color: white;
    text-align: center;
}

.header--legislation {
    background-color: navy;
    border-radius: 10px;
    width: 15%;
    color: white;
    text-align: center;
}